:root {
    --primary-text-color: #fff;
    --background-color: #000;
    --second-color: #ff0000;
}


body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.reds {
    color: var(--second-color);
}

.scary_buttons {
    display: flex;
    margin-left: 225px;
    margin-top: 10px;
}

.scary_button {
    padding: 20px 85px 8px 85px;
    background-color: var(--second-color);
    max-width: 200px;
    margin-left: 10px;
}

.whites {
    background-image: url(../images/farsh.jpg);
    color: var(--primary-text-color);
    padding-bottom: 23.4px;
}

.tuber {
    background-image: url(../images/bloody.jpg);
    background-size: 100px;
}

/*crazy*/
.crazy_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 200px;
    background-color: var(--background-color);
    margin-top: -4px;
    border-top: 3px solid;
    padding: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 10px;

}

.crazy-header {
    background-color: var(--background-color);
}

.main-store {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    max-width: 71%;
    margin-left: 217px;
}

gtyjpytkp